// Add your colors here
$brand-primary: #1d7cf4;
$black: #333;
$yellow: #ffe939;
$brand-success: #22ae5f;
$brand-danger: #b30015;
$brand-warning: #ffd66a;
$body-bg: #e4e7ec;
$text-muted: #90939a;
$link-color: #000;
$navbar-default-link-active-bg: #f7f7f7;
$navbar-default-link-color: #848484;
$navbar-default-bg: #fff;
$navbar-default-border: #e3e9ec;

$navbar-default-brand-color: #333;
$navbar-default-brand-hover-color: #ffe939;
$navbar-default-brand-hover-bg: #333;
$headings-color: #111;