.show-list {
	
	.TVshow {
		clear: both;
		margin-bottom: 15px;
		height: 250px;
	}

	.details {
		padding-top: 15px;
	}

	.poster {
		float: left;
		height: 250px;
		margin-right: 20px;
	}

	.description {
		margin-top: 15px;
		max-height: 90px;
		overflow: hidden;
	}
}
