<div class="panel-body">
  <div class="row show-list">
    <div class="TVshow col-md-12" ng-repeat="show in vm.shows">
      <a data-ui-sref="showDetail({ id: show.id })">
        <img class="img-rounded poster" ng-src="{{show.picture}}"/>
      </a>
      <div class="details">
        <a data-ui-sref="showDetail({ id: show.id })">
          <div class="showTitle">{{show.title}}</div>
        </a>
        <div class="production">
          <span ng-show="show.status == 'Continuing' ? true: false"><strong>Production:</strong> {{show.creation}} - Aujourd'hui</div>
          <span ng-show="show.status == 'Ended' ? true: false"><strong>Production:</strong> {{show.creation}} - {{show.endDate}}</div>
        <div class="actors"></div>
        <div class="genres">
          <strong>Genres:</strong>
          <span ng-repeat="genre in show.genres">{{genre}}&nbsp;</span>
        </div>
        <div class="description" data-ng-bind="show.description" data-ellipsis></div>
      </div>
    </div>
  </div>
  <!-- <pagination boundary-links="true" total-items="totalItems" ng-model="vm.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination> -->
</div>