<div class="panel-body">
  <div class="row show-list">
    <div class="TVshow" ng-repeat="show in vm.shows">
      <a data-ui-sref="showDetail({ id: show.id })">
        <img class="img-rounded poster" ng-src="{{show.picture}}"/>
      </a>
      <div class="details">
        <a data-ui-sref="showDetail({ id: show.id })">
          <div class="showTitle">{{show.title}}</div>
        </a>
        <div class="production">Production {{show.creation}}-</div>
        <div class="actors"></div>
        <div class="genres">
          Genres:
          <span ng-repeat="genre in show.genres">{{genre}}&nbsp;</span>
        </div>
        <div class="description">{{show.description}}</div>
      </div>
    </div>
  </div>
  <!-- <pagination boundary-links="true" total-items="totalItems" ng-model="vm.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination> -->
</div>