<div class="showDetail">
	<img class="img-rounded picture" ng-src="{{vm.showDetail.picture}}"/>
	<div class="description">{{vm.showDetail.description}}</div>
	<!-- <tabset justified="true">
	    <tab ng-repeat="season in vm.showDetail.seasons_details" heading="Saison {{season.number}}">
	    	<div ng-repeat="episode in vm.showDetail.episodes_details">
				<div class="well well-lg">{{episode.title}}</div> 
			</div>
	    </tab>
	</tabset> -->
	<div class="characters">
		<div class="col-xs-4 col-md-3 character" ng-repeat="character in vm.showDetail.characters">
			<img class="picture img-responsive" ng-src="{{character.picture}}" />
			<div class="realName">{{character.actor}}</div>
			<div class="nameCharacter">Rôle: {{character.name}}</div>

		</div>
	</div>
</div>